/*
* PX-DEFAULTS-DESIGN
* These variables are Px defaults; they should not be modified or adjusted directly; you should predefine the variables in your own project.
* @group px-defaults-design
*/
:root {
  /* @type Number [default] - Base font size */
  --inuit-base-font-size: 15px;

  /* @type Number [default] - Base line height (leading) */
  --inuit-base-line-height: 20px;

  /* @type Color [default] - Base text color */
  --inuit-base-text-color: rgb(0,0,0);

  /* @type Color [default] - Base background color */
  --inuit-base-background-color: rgb(255,255,255);

  /* @type Number [default] - Base spacing unit (same as --inuit base-font-size) */
  --inuit-base-spacing-unit: 1rem;

  /* @type Number [default] - Tiny base spacing unit (quarter of --inuit-base-line-height) */
  --inuit-base-spacing-unit--tiny: 0.2667rem;

  /* @type Number [default] - Small base spacing unit (half of --inuit-base-line-height divided by 2) */
  --inuit-base-spacing-unit--small: 0.6667rem;

  /* @type Number [default] - Large base spacing unit (same as --inuit-base-line-height) */
  --inuit-base-spacing-unit--large: 1.333rem;

  /* @type Number [default] - Huge base spacing unit (one and a half times --inuit-base-line-height) */
  --inuit-base-spacing-unit--huge: 2rem;
}
